.statistics
    width: 69%
    margin: 0 auto
    .our
        min-height: 339px
        background: url(../img/results.jpg) center center/cover no-repeat
        padding: 76px 117px 
        margin: 0 0 80px
    &__wrapper
        display: flex
        justify-content: space-between
        flex-wrap: wrap
    &__title
        margin: 0 0 26px
        font-family: 'Raleway', sans-serif
        font-size: 36px
        line-height: 36px
        color: #FFF
    &__sub-title
        margin: 0 0 42px
        font-family: 'Raleway', sans-serif
        font-size: 24px
        line-height: 36px
        color: #FFF
    &__num
        margin: 0 16px 0 0
        font-weight: 900
        font-size: 64px
        line-height: 36px
        color: #FFF
    &__text
        font-size: 18px
        line-height: 24px
        color: #FFF
    &__box
        display: flex
        min-width: 20%
    .clients
        padding: 76px 117px
        min-height: 272px
        background: url(../img/clients.png) center center/cover no-repeat
